<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Send data to form</h2>
    <form action="" method='post'>
        {% csrf_token %}
        <label for="fname">Insert word to replace</label><br>
        <input type="text" id="id_keywords" name="fname" value="John"><br>
        <input type="submit" value="Submit">
    </form> 

    <button id='add_new_input'>+</button>
    <p>If you click the "Submit" button, the form-data will be sent to a page called".</p>
</body>
</html>